body {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    background-color: #ece9e9;
}
/* index page */
.form {
    padding: 20px;
    margin-top: 15px !important;
    width: 75%;
    margin: auto;
}
.border {
    border: 1px solid #a9a9a9 !important;
}
.form h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.form img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}
.form input {
    margin-top: 10px;
}
.form .upload {
    display: block;
    margin: auto;
    margin-top: 10px;
}
.form a {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1809f3;
    font-weight: bold;
}
.form a:hover {
    text-decoration: none;
}
/* products page */
h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card {
    display: inline-block;
    margin-bottom: 5px;
}
.card img {
    margin-top: 5px;
    width: 250px !important;
    height: 250px !important;
}
nav a.navbar-brand {
    margin-left: 70px;
}
.main {
    padding: 20px;
    box-shadow: 1px 1px 10px silver;
    margin-top: 50px;
}
th {
    background-color: #007bff;
    color: white;
}
a.back {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}